spring:
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:127.0.0.1}:${MYSQL_PORT:3306}/${MYSQL_DATABASE:psc_case001}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ${MYSQL_USER:psc}
    password: ${MYSQL_PASSWORD:psc}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        generate_statistics: true
  sql:
    init:
      mode: never

logging:
  level:
    org.hibernate.SQL: debug

app:
  seed:
    enabled: true
    agno: 10
    route-count: 20
    reservation-count: 2000
    random-seed: 20260228
